<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmazonPay Api-only</title>
    <script src="https://static-na.payments-amazon.com/checkout.js"></script>
</head>
<body>
    
</body>
</html>