<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <div id="applepay-button-container"></div>
        <div id="log-section"></div>
    </body>
  
    <style>
        apple-pay-button {
            --apple-pay-button-width: 140px;
            --apple-pay-button-height: 30px;
            --apple-pay-button-border-radius: 5px;
            --apple-pay-button-padding: 5px 0px;
        }
    </style>
    <script src="https://applepay.cdn-apple.com/jsapi/v1/apple-pay-sdk.js"></script>
    <script>

        function showTheLogs(text){
            var div = document.createElement("div");
            div.innerHTML = text;
            document.getElementById('log-section').appendChild(div);
        };

        if (window.ApplePaySession) {
            // The Apple Pay JS API is available.
            showTheLogs("applePay session is available.")

            var merchantIdentifier = '000000000200301';
            var promise = ApplePaySession.canMakePaymentsWithActiveCard(merchantIdentifier);
            promise.then(function (canMakePayments) {
                if (canMakePayments){
                    showTheLogs(" we can make payments!");
                    document.getElementById('applepay-button-container').innerHTML = '<apple-pay-button buttonstyle="black" type="buy" locale="en-US" onclick="finishPayment()"></apple-pay-button>';
                }else{
                    showTheLogs("we cannot make payments");
                    showTheLogs("probably because your Apply wallet does not have a valid credit card");
                }
            })
            // if (ApplePaySession.canMakePayments()) {
            //     console.log(" we can make payments!");
            //     document.getElementById('applepay-button-container').innerHTML = '<apple-pay-button buttonstyle="black" type="buy" locale="en-US" onclick="finishPayment()"></apple-pay-button>';
            // } else {
            //     console.log("we cannot make payments");
            // }
        }else{
            showTheLogs("there is no AppleSession");
        };

        function finishPayment() {
            var request = {
                countryCode: 'US',
                currencyCode: 'USD',
                supportedNetworks: ['visa', 'masterCard', 'amex', 'discover'],
                merchantCapabilities: ['supports3DS'],
                total: { label: 'Your Merchant Name', amount: '0.05' },
            };
            
            var session = new ApplePaySession(1, request);
            session.onvalidatemerchant = function (event) {
                showTheLogs("Validate Merchant Requested");
                var MerchantSession = '<%- merchantSession %>';
                showTheLogs('below is the MerchantSession');
                showTheLogs(JSON.stringify(MerchantSession, null, 4));
                console.log('below is the MerchantSession');
                console.log(JSON.stringify(MerchantSession, null, 4));
                showTheLogs('below is the type of MerchantSession');
                showTheLogs(typeof(MerchantSession));
                console.log('below is the type of MerchantSession');
                console.log(typeof (MerchantSession));
                showTheLogs('below is the type of MerchantSession after json parse');
                showTheLogs(typeof(JSON.parse(MerchantSession)));
                console.log('below is the type of MerchantSession after json parse');
                console.log(typeof (JSON.parse(MerchantSession)));
                showTheLogs('below is the object');
                showTheLogs(JSON.stringify(JSON.parse(MerchantSession)));
                console.log('below is the object');
                console.log(JSON.stringify(JSON.parse(MerchantSession)));
                try {

                    session.completeMerchantValidation(JSON.parse(MerchantSession));                 
                } catch (error) {
                    showTheLogs("there is an error");
                    showTheLogs(JSON.stringify(error, null, 4))
                    console.log("there is an error");
                    console.log("error");
                    
                }

          

            };

            session.oncancel = function (event) {
                showTheLogs("Payment Cancelled");
            }

            session.onshippingcontactselected = function (event) {
                showTheLogs("Shipping Contact Selected");
                session.completeShippingContactSelection(123, [], {}, {});
            };

            session.onpaymentmethodselected = function (event) {
                showTheLogs('the paymentMethod that has been selected');
                showTheLogs(event.paymentMethod);
                console.log('the paymentMethod that has been selected');
                console.log(event.paymentMethod);
                session.completePaymentMethodSelection();
        
            };

            session.onpaymentauthorized = function (event) {
                showTheLogs("Payment Authorized by User");
                console.log("Below is the applepay token:");
                console.log(event.payment.token);

                var ApplePayToken = event.payment.token;

                //call the payments endpoint
                var myHeaders = new Headers();
                myHeaders.append("x-API-key", "AQEyhmfxLorGaRxCw0m/n3Q5qf3VaY9UCJ1+XWZe9W27jmlZig5yljrb4hAKiRMRHKZD1gEQwV1bDb7kfNy1WIxIIkxgBw==-LkkZe9+JfR2vz39IxgEUX0nssD5NDktbGfH31I0GoM0=-L&GCzb9tnt#Z#jXm");
                myHeaders.append("content-type", "application/json");

                var paymentBody = new Object();
                paymentBody.amount = {
                    "value": 5,
                    "currency": "USD"
                };
                paymentBody.paymentMethod = {};
                paymentBody.paymentMethod.type = "applepay";
                paymentBody.paymentMethod.applePayToken = ApplePayToken;

                paymentBody.reference = "order reference";
                paymentBody.merchantAccount = "AdyenTechSupport_CarltonTest_TEST";
                paymentBody.returnUrl = "https://www.baidu.com";

                                                    var requestOptions = {
                    method: 'POST',
                    headers: myHeaders,
                    body: JSON.stringify(paymentBody),
                    redirect: 'follow'
                };

                fetch("http://localhost:80/payments", requestOptions)
                    .then(response => response.text())
                    .then(result => console.log(result))
                    .catch(error => console.log('error', error));
         
            };

            session.begin();

            
        };


    </script>
</html>
