<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <div id="applepay-button-container"></div>
        <div id="log-section"></div>
    </body>
  
    <style>
        apple-pay-button {
            --apple-pay-button-width: 140px;
            --apple-pay-button-height: 30px;
            --apple-pay-button-border-radius: 5px;
            --apple-pay-button-padding: 5px 0px;
        }
    </style>
    <script src="https://applepay.cdn-apple.com/jsapi/v1/apple-pay-sdk.js"></script>
    <script>

        function showTheLogs(text){
            var div = document.createElement("div");
            div.innerHTML = text;
            document.getElementById('log-section').appendChild(div);
        };

        if (window.ApplePaySession) {
            // The Apple Pay JS API is available.
            showTheLogs("applePay session is available.")

            var merchantIdentifier = '000000000200301';
            var promise = ApplePaySession.canMakePaymentsWithActiveCard(merchantIdentifier);
            promise.then(function (canMakePayments) {
                if (canMakePayments){
                    showTheLogs(" we can make payments!");
                    document.getElementById('applepay-button-container').innerHTML = '<apple-pay-button buttonstyle="black" type="buy" locale="en-US" onclick="finishPayment()"></apple-pay-button>';
                }else{
                    showTheLogs("we cannot make payments");
                    showTheLogs("probably because your Apply wallet does not have a valid credit card");
                }
            })
            // if (ApplePaySession.canMakePayments()) {
            //     console.log(" we can make payments!");
            //     document.getElementById('applepay-button-container').innerHTML = '<apple-pay-button buttonstyle="black" type="buy" locale="en-US" onclick="finishPayment()"></apple-pay-button>';
            // } else {
            //     console.log("we cannot make payments");
            // }
        }else{
            showTheLogs("there is no AppleSession");
        };

        function finishPayment() {
            var request = {
                countryCode: 'US',
                currencyCode: 'USD',
                supportedNetworks: ['visa', 'masterCard', 'amex', 'discover'],
                merchantCapabilities: ['supports3DS'],
                total: { label: 'Your Merchant Name', amount: '0.05' },
            };
            
            var session = new ApplePaySession(1, request);
            session.onvalidatemerchant = function (event) {
                showTheLogs("Validate Merchant Requested");
                var MerchantSession = '<%= merchantSession %>';
                showTheLogs('below is the MerchantSession');
                showTheLogs(JSON.stringify(MerchantSession, null, 4));
                showTheLogs('below is the type of MerchantSession');
                showTheLogs(typeof(MerchantSession));
                try {

                    session.completeMerchantValidation(MerchantSession);                 
                } catch (error) {
                    showTheLogs("there is an error");
                    showTheLogs(JSON.stringify(error, null, 4))
                    
                }

          

            };

            session.oncancel = function (event) {
                showTheLogs("Payment Cancelled");
            }

            session.onshippingcontactselected = function (event) {
                showTheLogs("Shipping Contact Selected");
                session.completeShippingContactSelection(123, [], {}, {});
            };

            session.onpaymentmethodselected = function (event) {
                showTheLogs('the paymentMethod that has been selected');
                showTheLogs(event.paymentMethod);
        
            };

            session.onpaymentauthorized = function (event) {
                showTheLogs("Payment Authorized by User");
                const ApplePayPayment = session.completePayment();
                console.log(ApplePayPayment.token);
                showTheLogs(ApplePayPayment);
                showTheLogs(event);
            };

            session.begin();
        };


    </script>
</html>
