<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        apple-pay-button {
            --apple-pay-button-width: 140px;
            --apple-pay-button-height: 30px;
            --apple-pay-button-border-radius: 5px;
            --apple-pay-button-padding: 5px 0px;
        }
    </style>
    <script src="https://applepay.cdn-apple.com/jsapi/v1/apple-pay-sdk.js"></script>
     <script>
        if (window.ApplePaySession) {
                // The Apple Pay JS API is available.
                console.log("applePay session is available.")
            }
     </script>
</head>
<body>
    <apple-pay-button buttonstyle="black" type="buy" locale="en-US"></apple-pay-button>
</body>
</html>